<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8" http-equiv="CONTENT-TYPE" content="text/html; charset=UTF-8"/>
    <title>Number Translation</title>
    <link href="/bootstrap/css/bootstrap.min.css">
</head>
<body>
<div th:if="${param.error}">
    <p>something are wrong</p>
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<form th:action="@{/login}" th:method="POST">
    <div><label> User Name: <input type="text" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div><input type="submit" value="LogIn" class="btn btn-primary"/></div>
</form>
<a href="/registration">Registration</a>
</body>
</html>